*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#jobsSearch{
    margin: 20px;
    display: flex;
    justify-content: center;
}

#allJobs{
    display: flex;
    flex-wrap: wrap;
}

#jobDetails{
    padding: 5px;
    width: 50%;
    background-color: gray;
    color: white;
    border-radius: 10px;
    border: 2px solid;
}

#firstDiv{
    display: flex;
    justify-content: space-between;
}

#firstDiv h1{
    font-size: 20px;
}

.companyLogo{
    width: 50px;
    height: 50px;
}

.companyLogo img{
    width: 100%;
}
h1{
    font-size: 20px;
}

#hoursAndPostedBy{
    display: flex;
    justify-content: space-between;
}